.nelio-content-social-message-editor {

	max-width: 50em;
	width: 100%;


	.components-modal__header h1 {
		width: 100%;
	}

	&__title {
		align-items: center;
		display: flex;
		width: 100%;

		&-text {
			flex-grow: 1;
		}

		&-help {
			flex-grow: 0;
		}
	}

	&__schedule-options {
		display: flex;
		flex-direction: row;
		min-height: 5em;

		.components-base-control + .components-base-control {
			margin: 0;
		}

	}

	&__actions {
		align-items: center;
		display: flex;
		justify-content: flex-end;
		margin-top: 2em;

		> * {
			margin-right: 0.5em;
		}

		> :last-child {
			margin-right: 0;
		}
	}

}
