#elementor-nelio-content {
	position: fixed;
	top: 100px;
	width: 280px;
	height: 55vh;
	right: 30px;
	background-color: var(--e-a-bg-default);
	border: var(--e-a-border);
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	overflow: hidden;
	z-index: 101;
	display: none;

	&__inner {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	&__header {
		display: flex;
		align-items: stretch;
		border-block-end: var(--e-a-border);
		color: var(--e-a-color-txt-accent);

		&__icon {
			padding: 10px;
		}

		&__title {
			flex: 1;
			text-align: center;
			font-size: 13px;
			font-weight: 400;
			padding: 0;
			cursor: move;
		}
	}

	&__close {
		color: var(--e-a-color-txt);
		background-color: transparent;
		border: none;
		font-size: 11px;
		outline: 0;
		padding: 10px;
		cursor: pointer;
		transition: color 0.5s;

		&:hover {
			color: var(--e-a-color-txt-hover);
		}

		&:focus {
			color: var(--e-a-color-txt-active);
		}
	}

	&__elements {
		flex-grow: 1;
		overflow: auto;
		position: relative;
	}

	&__footer {
		width: 100%;
		text-align: center;

		&__resize-bar {
			border-block-start: var(--e-a-border);
		}
	}
}

#elementor-panel-footer-nelio-content-label {
	margin-top: 3px;
}
