@import "~admin-stylesheets/colors";

.nelio-content-target-option-in-profile-selector {
	align-items: center;
	display: flex;
	padding: 0.5em;

	cursor: default;

	&__icon-wrapper {
		flex-grow: 0;
		width: 1em;
		font-size: 2em;
	}

	&__icon {
		background: $component-colors__placeholder;
		background-size: cover;
		border-radius: 2px;
		height: 1em;
		width: 1em;
	}

	&__label {
		flex-grow: 1;
		padding-left: 1em;
	}

	&--is-selected {
		background: $component-colors__option-background--is-selected;
		color: $component-colors__option-foreground--is-selected;
	}

	&:hover,
	&--is-focused {
		background: $component-colors__option-background--is-focused;
		color: $component-colors__option-foreground--is-focused;
	}
}
