.nelio-content-social-media-button {

	&.components-button.is-link {
		text-decoration: none;

		&:focus:not(:disabled) {
			box-shadow: none;
		}
	}
}

.nelio-content-social-timeline-modal {
	width: 100%;
	max-width: 45em;

	.components-modal__header-heading-container {
		display: block;
	}

	&__custom-header {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: left;

		> span:first-child {
			flex-grow: 1;
		}
	}
}
