.nelio-content-task-template-editor {
	width: 40em;

	&__options {
		display: flex;
		gap: 0.5em;

		> * {
			flex-grow: 1;
			flex-shrink: 1;
		}

		&__assignee {
			min-width: 40%;
		}
	}

	&__back-button {
		margin-left: 0.5em;
	}

	&__footer {
		align-items: center;
		display: flex;
		gap: 1em;
		justify-content: space-between;
		margin-top: 1em;
	}

	&__actions {
		display: flex;
		gap: 0.5em;
	}
}
