@import "~admin-stylesheets/colors";

.nelio-content-analytics-post-list {

	&--empty-list {
		color: $layout-colors__foreground--is-blurred;
		margin: 1em auto 0;
		text-align: center;
	}

	&__no-posts-icon {
		font-size: 10em;
		height: 1em;
		width: 1em;
	}

	&__no-posts-message {
		font-size: 1.5em;
	}

	&__action {
		margin-top: 3em;
		text-align: center;
	}
}
