@import "~admin-stylesheets/colors";

.nelio-content-notification-user {
	display: flex;
	padding: 0.5em 0;

	&:first-child {
		margin-top: 1em;
	}

	&__icon {
		font-size: 2em;
		margin-right: 0.5rem;
	}

	&__extra {
		color: $layout-colors__foreground--is-blurred;
	}

	&__remove-action {
		visibility: hidden;
	}

	&__author--has-pipe::after {
		content: " | ";
		display: inline;
		visibility: hidden;
	}

	&:hover &__author--has-pipe::after,
	&:hover &__remove-action {
		visibility: visible;
	}
}
