.nelio-content-item-select-control {
	width: auto;

	.components-form-token-field__input-container {
		background: #fff;
		width: auto;
	}

	.components-form-token-field__help {
		display: none;
	}

	&--no-label .components-form-token-field__label {
		display: none;
	}

	&--no-input input[type="text"].components-form-token-field__input {
		height: 0 !important;
		min-height: 0 !important;
		min-width: 0 !important;
		opacity: 0;
		width: 0 !important;
	}
}
