.nelio-content-upgrade-form {

	&--loading {

		.components-popover__content {
			display: flex;
			min-height: 5em;
			justify-content: center;
			align-items: center;
		}

	}

	&__product-container {
		min-width: 30em;
		margin: 1em;
		text-align: left;
	}

	.components-base-control__label {
		font-size: 1.3em;
		margin-bottom: 0.5em;
	}

	.components-radio-control__option {
		align-items: flex-start;
		margin-top: 1em;
		display: flex;
	}

	&__product {
		display: inline-block;

		&-price {
			margin-left: 0.5em;
		}

		&-description {
			display: block;
		}
	}

	&__button-container {
		margin-top: 0.8em;
		padding: 0 1em 1em;
	}
}
